.btn {
  background: #7288da;
  background-image: -webkit-linear-gradient(top, #7288da, #7288da);
  background-image: -moz-linear-gradient(top, #7288da, #7288da);
  background-image: -ms-linear-gradient(top, #7288da, #7288da);
  background-image: -o-linear-gradient(top, #7288da, #7288da);
  background-image: linear-gradient(to bottom, #7288da, #7288da);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7288da;
  background-image: -webkit-linear-gradient(top, #7288da, #7288da);
  background-image: -moz-linear-gradient(top, #7288da, #7288da);
  background-image: -ms-linear-gradient(top, #7288da, #7288da);
  background-image: -o-linear-gradient(top, #7288da, #7288da);
  background-image: linear-gradient(to bottom, #7288da, #7288da);
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}
